/*Estrutura do site*/

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #FFF url(../imagens/fundo.png) repeat-x;
}

#container {
	width: 750px;
	margin: 0 auto;
}


#topo {
	height: 150px;
	background: url(../imagens/detalhe-topo.png) no-repeat right top;
	padding-top: 25px;
}

.logo {
	width: 152px;
	height: 66px;
	background: url(../imagens/logo.png) no-repeat center;
	text-indent: -3000px;
}

/*Barra de navegação horizontal*/

a:link, a:visited {
	color: #b10333;
	padding: 2px;
}

a:hover {
	color: #e50040;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#topo ul {
	margin-top: 30px;
	float: left;
	background: #b10333;
}

#topo ul li {
	float: left;
}

#topo ul li a {
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.5em;
	line-height: 2.1em;
	text-decoration: none;
	color: #FFF;
	background: url(../imagens/divisor.png) no-repeat left center;
}

#topo ul a:hover {
	color: #69001d;
}

#topo ul .primeiro a {
	background: none;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.fotos #navegacao a#fotos {
	color: #FFF;
	background: #de003e;
	cursor: pointer;
}

/*Configuração layout de três colunas*/

#conteudo {
	margin-top: 60px;
	background: #f5f5f5;
}

#primario {
	float: left;
	width: 270px;
	margin: 0 0 20px 195px;
}

#duas-colunas #primario {
	width: 555px;
}

#uma-coluna #primario {
	width: 750px;
	margin: 0 0 20px 0px;
}

#secundario {
	float: left;
	width: 270px;
	margin: 0 0 20px 15px;
}

#lateral {
	float: left;
	width: 180px;
	margin: 0 0 20px -750px;
}

/*Caixa */

.caixa {
	margin: 10px 0;
	padding: 5px;
	background: #f3f3f3 url(../imagens/fundo-caixa.png);
}

h2 {
	font-size: 1em;
	background: #294c71;
	color: #fff;
	padding: 5px;
}

.caixa-conteudo {
	background: #fff;
	padding: 5px;
	margin-top: 5px;
}

/*Formatar menus laterais */

#lateral ul a {
	font-size: 0.9em;
	padding: 3px;
	display: block;
	line-height: 30px;
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover {
	background: #f9f9f9 url(../imagens/marcador.png) no-repeat left center;
	text-indent: 16px;
	color: #a1a1a1;
}

/*Formatando os formulários */

label {
	display: block;
	cursor: pointer;
}

input {
	margin: 5px 0 5px 0;
	padding: 5px;
	width: 147px;
	font-size: 0.9em;
	background-color: #fff;
}

input.submit {
	width: 80px;
	color: #fff;
	background-color: #b10333;
	border: 2px solid #870529;
}

#buttom {
	text-indent: 40px;
}

/*Formatando imagens*/

img.imagem-principal {
	width: 98%;
	border: 3px solid #dfdfdf;
}

/*Formatando cabeçalhos*/

h3 {
	text-transform: uppercase;
	display: inline;
	font-size: 0.8em;
	padding: 3px;
}

.destaque h3 {
	background: #b10333;
	color: #fff;
}

.entrevista h3 {
	background: #de003e;
}

/*Formatando lista de noticias*/

#lista-noticias li {
	padding: 2px;
	border-bottom: 1px solid #ccc;
	height: 62px;
}

#lista-noticias li a img {
	float: left;
	margin: 5px;
}

#lista-noticias li a {
	text-decoration: none;
}

#lista-noticias li a h3 {
	font-size: 0.8em;
	padding: 0;

}

#list-noticias li a p {
	font-size: 0.7em;
	color: #000;
}

#lista-noticias li:hover {
	background: #eee;
	cursor: pointer;
}

/*Rodapé*/

#container-rodape {
	background: #294c71;
	padding: 20px;
}

#rodape {
	width: 750px;
	margin: 0 auto;
	color: #fff;
}

/*mundo*/

#news li:hover {
	background: #eee;
	cursor: pointer;
}

#news li a  {
	text-decoration: none;
}

#news li {
	border-bottom: 1px solid #ccc;
	margin-top: 8px;
}